<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/input.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/d12261aa19.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <style>
      @media (min-width: 768px) and (max-width: 1023px) {
        .custom-card {
          height: 400px; /* Adjust as needed */
        }
      }
    </style>

    <!-- footer area  -->

    <footer class="bg-black text-white min-h-screen w-screen">
      <div
        class="flex flex-col md:flex md:flex-row gap-8 justify-around mt-10 pt-20"
      >
        <!-- cards wrapper -->
        <div
          class="footer-container pt-5 text-center md:grid md:grid-cols-3 lg:grid-cols-3 md:gap-14 lg:gap-8 xl:grid-cols-6 px-5"
        >
          <!-- Card 1 -->
          <div
            class="h-[250px] lg:h-[300px] w-full my-2 border-2 custom-card xl:h-[360px] hover:scale-110 capitalize"
          >
            <!-- title area  -->
            <div id="Resources1" class="font-bold text-4xl">
              Features
              <i
                class="fas fa-pen-to-square text-white mr-3 hover:scale-x-100"
              ></i>
            </div>
            <!-- list items  -->
            <ul class="mt-3 mb-3 text-2xl font-serif">
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Build Online Stores
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Manage Store Options
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Market Your Store
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  What's New
                </li></a
              >
            </ul>
          </div>

          <!-- card2 -->
          <div
            class="h-[250px] lg:h-[300px] w-full my-2 border-2 custom-card xl:h-[360px] hover:scale-110 capitalize"
          >
            <!-- title area  -->
            <div id="Resources1" class="font-bold text-4xl">
              Features
              <i
                class="fas fa-pen-to-square text-white mr-3 hover:scale-x-100"
              ></i>
            </div>
            <!-- list items  -->
            <ul class="mt-3 mb-3 text-2xl font-serif">
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Build Online Stores
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Manage Store Options
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Market Your Store
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  What's New
                </li></a
              >
            </ul>
          </div>

          <!-- card3 -->

          <div
            class="h-[250px] lg:h-[300px] w-full my-2 border-2 custom-card xl:h-[360px] hover:scale-110 capitalize"
          >
            <!-- title area  -->
            <div id="Resources1" class="font-bold text-4xl">
              Features
              <i
                class="fas fa-pen-to-square text-white mr-3 hover:scale-x-100"
              ></i>
            </div>
            <!-- list items  -->
            <ul class="mt-3 mb-3 text-2xl font-serif">
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Build Online Stores
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Manage Store Options
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Market Your Store
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  What's New
                </li></a
              >
            </ul>
          </div>

          <!-- card4 -->

          <div
            class="h-[250px] lg:h-[300px] w-full my-2 border-2 custom-card xl:h-[360px] hover:scale-110 capitalize"
          >
            <!-- title area  -->
            <div id="Resources1" class="font-bold text-4xl">
              Features
              <i
                class="fas fa-pen-to-square text-white mr-3 hover:scale-x-100"
              ></i>
            </div>
            <!-- list items  -->
            <ul class="mt-3 mb-3 text-2xl font-serif">
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Build Online Stores
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Manage Store Options
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Market Your Store
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  What's New
                </li></a
              >
            </ul>
          </div>

          <!-- card5 -->

          <div
            class="h-[250px] lg:h-[300px] w-full my-2 border-2 custom-card xl:h-[360px] hover:scale-110 capitalize"
          >
            <!-- title area  -->
            <div id="Resources1" class="font-bold text-4xl">
              Features
              <i
                class="fas fa-pen-to-square text-white mr-3 hover:scale-x-100"
              ></i>
            </div>
            <!-- list items  -->
            <ul class="mt-3 mb-3 text-2xl font-serif">
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Build Online Stores
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Manage Store Options
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Market Your Store
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  What's New
                </li></a
              >
            </ul>
          </div>

          <!-- card6 -->

          <div
            class="h-[250px] lg:h-[300px] w-full my-2 border-2 custom-card xl:h-[360px] hover:scale-110 capitalize"
          >
            <!-- title area  -->
            <div id="Resources1" class="font-bold text-4xl">
              Features
              <i
                class="fas fa-pen-to-square text-white mr-3 hover:scale-x-100"
              ></i>
            </div>
            <!-- list items  -->
            <ul class="mt-3 mb-3 text-2xl font-serif">
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Build Online Stores
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Manage Store Options
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  Market Your Store
                </li></a
              >
              <a href="#"
                ><li
                  class="h-auto w-auto hover:bg-orange-400 shadow-md block xl:inline-block hover:border-2 mb-3"
                >
                  What's New
                </li></a
              >
            </ul>
          </div>
        </div>
      </div>

      <!-- connect with us area  -->
  

    </footer>
  </body>
</html>
