
<%- include("partials/header.ejs") %>


  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/input.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

  <div class="md:h-0 h-[60vh] bg-transparent ">

  </div>


<!-- main section starts from here  -->
<!-- min-h-[400vh] h-screen -->
<main class="min-h-screen w-screen bg-white mt-2 pt-5">

  <!-- swipper area or carosuel   -->

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img src="img/rocks.jpg" alt="">
      </div>

      <div class="swiper-slide">
        <img src="img/water.jpg" alt="">
      </div>

      <div class="swiper-slide">
        <img src="img/mountains.jpg" alt="">
      </div>

      <div class="swiper-slide">
        <img src="img/sky.jpg" alt="">
      </div>

      <div class="swiper-slide">
        <img src="img/night.jpg" alt="">
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<!-- typed js for animation  -->

<span id="element" class="flex flex-col items-center text-center text-2xl font-bold text-orange-600 md:text-center md:items-center md:mx-auto mt-5 mb-5">
</span>


  
    <!-- Cards  -->
  
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center mt-5 bg-transparent ">
      <!-- Card 1 -->
      <div class="bg-white p-4 rounded-md shadow-md md:hover:scale-75 md:hover:rotate-6 transition-all">
        <h2 class="text-xl font-semibold mb-2 text-center capitalize">Card 1</h2>
        <img src="img/night.jpg" alt="">
        <p>This is the content of Card 1.</p>
      </div>
    
      <!-- Card 2 -->
      <div class="bg-white p-4 rounded-md shadow-md md:hover:scale-75 md:hover:-rotate-6 transition-all">
        <h2 class="text-xl font-semibold mb-2">Card 2</h2>
        <img src="img/mountains.jpg" alt="">
        <p>This is the content of Card 2.</p>
      </div>
    
      <!-- Card 3 -->
      <div class="bg-white p-4 rounded-md shadow-md md:hover:scale-75 md:hover:rotate-6 transition-all ">
        <h2 class="text-xl font-semibold mb-2">Card 3</h2>
        <img src="img/sky.jpg" alt="">
        <p>This is the content of Card 3.</p>
      </div>
    
      <!-- Card 4 -->
      <div class="bg-white p-4 rounded-md shadow-md md:hover:scale-75 md:hover:-rotate-6 transition-all">
        <h2 class="text-xl font-semibold mb-2">Card 4</h2>
        <img src="img/man.jpg" alt="">
        <p>This is the content of Card 4.</p>
      </div>
  
      <!-- cards 5  -->
  
      <div class="bg-white p-4 rounded-md shadow-md md:hover:scale-75 md:hover:-rotate-6 transition-all">
        <h2 class="text-xl font-semibold mb-2">Card 4</h2>
        <img src="img/girls.jpg" alt="">
        <p>This is the content of Card 4.</p>
      </div>
  
      <!-- cards 6 -->
  
      <div class="bg-white p-4 rounded-md shadow-md md:hover:scale-75 md:hover:-rotate-6 transition-all">
        <h2 class="text-xl font-semibold mb-2">Card 4</h2>
        <img src="img/rocks.jpg" alt="">
        <p>This is the content of Card 4.</p>
      </div>
    
  </div>

  </main>

  <!-- footer area  -->
 
  <%- include("partials/footer.ejs") %>

  <!-- script area  -->
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script >
   var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

// typed js  animation 

var typed = new Typed('#element', {
      strings: ['Hie there i am Shiku ', "I am a passionate webDeveloper","Here are some of my Projects"],
      typeSpeed: 50,
    });


  </script>