<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/input.css">
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


<div class="md:h-0 h-[60vh] bg-transparent ">

</div>

    <div id="food-Containers" class="min-h-screen w-screen bg-gray-400">

    </div>
<%- include("partials/footer.ejs") %>