<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/input.css">
<script src="https://cdn.tailwindcss.com"></script>


<div class="md:h-0 h-[60vh] bg-transparent ">

</div>



    <input type="search" placeholder="search something here" id="search" />
<button id="btn" class="btn">search</button>

<div id="totalfoods">
    <!-- totalfoods list using js inside js code there is html code for this one  -->
  </div>

<script>

  const search = document.getElementById("search");
  const btn = document.getElementById("btn");
  const totalfoods = document.getElementById("totalfoods");
  
  
  // for not searching anything shows animation 
  
  btn.addEventListener("click", () => {
      const searchText = search.value.trim();
  });
  
  
  // searching the foods show the foods 
  
  btn.addEventListener("click", getfoodlist);
  function getfoodlist(){
      let search = document.getElementById("search").value.trim();
    fetch(`https://www.themealdb.com/api/json/v1/1/filter.php?i=${search}`)
      .then(response => response.json())
      .then(data => {
          let html = "";
          if (data.meals) {
            data.meals.forEach((meal) => {
              html += `
                <div class="foodcard">
                  <img src="${meal.strMealThumb}" alt="" class="foods">
                  <h2>${meal.strMeal}</h2>
                  <button class="order">Order</button>
                </div>`;
            });
            totalfoods.classList.remove("notFound");
          } else {
            html = "Sorry, we didn't find any meal!";
            totalfoods.classList.add("notFound");
          }
    
          totalfoods.innerHTML = html;
        });
    };

</script>




